.mybody {
    color: black;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
    border: 1px solid transparent;
}

.navbar-default, .btn{
	border-radius: 0;
}

.navbar-default {
    background-color: black;
    color: white;
    border-color: rgba(22, 22, 21, 0.6);
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(245, 245, 220, .9);
    border-bottom: 4px solid #ddd;
}
.panel-default > .panel-heading {
    color: black;
    background-color: black;
    border-color: rgba(22, 22, 21, 0.6); 
    border-radius: 5px;
}
.panel-footer {
    color: white;
	background-color: black;
    border-color: rgba(22, 22, 21, 0.6);
}

.navbar-default .navbar-brand {
    color:white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
a.navbar-brand, .panel-title {
    font-weight: bolder;
    color: white;
}

.form-control {
    border-radius: 5px;
}

